<% if user_signed_in? %>
	<h1>"Pagina del foro" </h1>
	<% @posts.each do |f| %>
		<p>-----------------------</p>
		<p>Titulo: <%= f.titulo %> </p>
		<p>Asignatura: <%= f.asignatura_id %> </p>
		<p> <%= f.comentario %> </p>
		<p>-----------------------</p>
	<%end%>
<% else %>
	<h1>"No a iniciado sesion" </h1>
<% end %>