<% if user_signed_in? %>
Agregar lista de asignaturas que imparte el profesor
	<% if 2 === @currentUser  %>
	 <p>Profesor</p>
	 <p>Nombre: <%= current_user.nombre %> <%= current_user.apellido %></p>
	 <p>Correo: <%= current_user.email %></p>


	 <p>Asignaturas que imparte</p>
	 <% @asignaturas.each do |f| %>
	 		<% if f.user_id ===  @currentUserid %>
	 			<p>Asignatura f.nombre</p>
	 		<% end %>
	 	<p>----------------</p>
	 	<% end %>
	<% else %>

	<p>No es profesor</p>

	<% end %>

<% end %>